html
  head
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    title Timestamp API
  body
    h1 Timestamp API
    p Given a Unix timestamp or a human readable date, the API will return a JSON object with both a Unix timestamp and a human date.
    p Dates must be formatted as such:
    ul 
      li
        strong January 14, 2005
      li 
        strong 1501610514

